<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    {{ if .invalidClientIP }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .invalidClientIP }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .invalidJoin }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .invalidJoin }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .invalidNumOfPlayer }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .invalidNumOfPlayer }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .clientNameCheckerError }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .clientNameCheckerError }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .invalidOtpID }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .invalidOtpID }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .isInvited }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .isInvited }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ else if .invalidLink }}
        <div id="custom-alert"> 
            <p id="alert-message">{{ .invalidLink }}</p>
            <button onclick="hideAlert()">知道了</button>
        </div>
    {{ end }}
    
    <div id="main-section" class="main-section">
        <div id="options" class="options">
            {{ if or .invalidRoomID .invalidClientName }}
                <div id="createFormOption" class="option" onclick="selectMode('create')">創建房間</div>
                <div id="joinFormOption" class="option selected" onclick="selectMode('join')">加入房間</div>
            {{ else }}
                <div id="createFormOption" class="option selected" onclick="selectMode('create')">創建房間</div>
                <div id="joinFormOption" class="option" onclick="selectMode('join')">加入房間</div>
            {{ end }}
        </div>
        
        <div id="form-area" class="form-area">
            {{ if or .invalidRoomID .invalidClientName }}
                <div class="form-container" id="createForm" style="display: none;">
                    <form action="/postJoin" method="POST">
                        <label for="clientName">Your Name:
                            <input type="text" id="clientName" name="clientName">
                        </label>
                        <input type="hidden" id="clientIP" name="clientIP" value="">
                        <input type="submit" value="創建">
                    </form>
                </div>

                <div class="form-container" id="joinForm">
                    <form action="/roomIDJoin" method="POST">
                        {{ if .invalidRoomID }}
                            <label for="roomID">Room ID:
                                <input type="text warning" id="roomID" name="roomID">
                                <span class="warning-msg">{{ .invalidRoomID }}</span>
                            </label>
                            <label for="clientName">Your Name:
                                <input type="text" id="clientName" name="clientName">
                            </label>
                            <input type="hidden" id="clientIP" name="clientIP" value="">
                            <input type="submit" value="加入">
                        {{ end }}
                        {{ if .invalidClientName }}
                            <label for="roomID">Room ID:
                                <input type="text" id="roomID" name="roomID">
                            </label>
                            <label for="clientName">Your Name:
                                <input type="text warning" id="clientName" name="clientName">
                                <span class="warning-msg">{{ .invalidClientName }}</span>
                            </label>
                            <input type="hidden" id="clientIP" name="clientIP" value="">
                            <input type="submit" value="加入">
                        {{ end }}
                    </form>
                </div>
            {{ else }}
                <div class="form-container" id="createForm">
                    <form action="/postJoin" method="POST">
                        <label for="clientName">Your Name:
                            <input type="text" id="clientName" name="clientName">
                        </label>
                        <input type="hidden" id="clientIP" name="clientIP" value="">
                        <input type="submit" value="創建">
                    </form>
                </div>

                <div class="form-container" id="joinForm" style="display: none;">
                    <form action="/roomIDJoin" method="POST">
                        <label for="roomID">Room ID:
                            <input type="text" id="roomID" name="roomID">
                        </label>
                        <label for="clientName">Your Name:
                            <input type="text" id="clientName" name="clientName">
                        </label>
                        <input type="hidden" id="clientIP" name="clientIP" value="">
                        <input type="submit" value="加入">
                    </form>
                </div>
            {{ end }}
        </div>
    </div>

    <script>
        // form select
        const createFormOption = document.getElementById("createFormOption")
        const joinFormOption = document.getElementById("joinFormOption")
        const createForm = document.getElementById('createForm')
        const joinForm = document.getElementById('joinForm')
        function selectMode(mode) {
            if (mode === 'create') {
                createFormOption.classList.add("selected")
                joinFormOption.classList.remove("selected")
                createForm.style.display = 'block';
                joinForm.style.display = 'none';
            } else if (mode === 'join') {
                joinFormOption.classList.add("selected")
                createFormOption.classList.remove("selected")
                createForm.style.display = 'none';
                joinForm.style.display = 'block';
            }
        }

        // alert
        const customAlert = document.getElementById('custom-alert');
        function hideAlert() {
            customAlert.style.display = "none"
        }
        
        // get user ip
        function getIP() {
            fetch('https://api.ipify.org?format=json')
            .then(response => response.json())
            .then(data => {
                createForm.querySelector("#clientIP").value = data.ip
                joinForm.querySelector("#clientIP").value = data.ip
                console.log(data.ip);
            })
            .catch(error => {
                console.log('Error:', error);
            });
        }

        getIP()
    </script>
</body>
</html>
